<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shang.upms.dao.mapper.ReaderMapper">

    <select id="findOne" resultType="com.shang.upms.dao.entity.Reader">
        SELECT *  FROM READER WHERE  USERNAME = #{VALUE}
    </select>

</mapper>